<div id="<%= dom_id garden %>" style="background-image: url('<%= garden.banner_url %>'); height:300px; width:300px" >
  <p style="color:white; background-color:black; padding: 15px;">
    <strong>Name:</strong>
    <%= garden.name %>
  </p>

</div>
